#flame {
  width: 400px;
  margin: 0 auto;
  padding: 30px 20px;
  background-color: #c0ddfe;
}

#display {
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
  padding: 10px 0;
  background-color: #eeeeee;
}

.btn {
  padding: 10px;
  margin: 10px 0;
  background: #0078ff;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
  cursor: pointer;
}

.btn:active {
  opacity: 0.4;
}

.inactive {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}
