.component.blue {
  padding: 1rem;
  display: inline-block;
  color: blue;
  border: 5px solid blue;
}

.component.green {
  padding: 1rem;
  display: inline-block;
  color: green;
  border: 5px solid green;
}

.component.red {
  padding: 1rem;
  display: inline-block;
  color: red;
  border: 5px solid red;
}
